.carousel-image-container {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  max-width: 100%;
  height: 400px; /* Default height for desktop */
  object-fit: cover;
}

@media (max-width: 768px) { /* For tablets and smaller screens */
  .carousel-image {
    height: 250px; /* Adjusted height for smaller screens */
  }
}

@media (max-width: 480px) { /* For mobile devices */
  .carousel-image {
    height: 200px; /* Further reduced height for mobile screens */
  }
}
